<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Flowers</title>
  </head>
  <body>
    <nav class="container">
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/getflower">Search flower</a> </li>
        <li><a href="/inputform">Add flower</a> </li>
        <li><a href="/updateform">Update flower</a> </li>
        <li><a href="/removeflower">Delete flower</a></li>
      </ul>
    </nav>
    <main>
      <h1>All flowers list in our database </h1>
      <table>
        <thead>
          <tr>
            <th>Flower id</th>
            <th>Name</th>
            <th>Unit price</th>
            <th>Farmer</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(flower => { %>
          <tr>
            <td><%= flower.flowerId %></td>
            <td><%= flower.name %></td>
            <td><%= flower.unitPrice %></td>
            <td><%= flower.farmer %></td>
            <td><%= flower.stock %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
   
    </main>
  </body>
</html>
